:root {
  --border-color: #555555;

  --galaxy-s9-width: 360px;
  --iphone-6-7-8-height: 667px;

  --kindle-Fire-HDX-width: 800px;
  --kindle-Fire-HDX-height: 1280px;

  font-family: "Roboto", sans;
  font-weight: bold;
  font-size: 16px;

  background-color: #000002;
  color: #f0f0f0;
}

body {
  max-width: var(--kindle-Fire-HDX-width);
  max-height: var(--kindle-Fire-HDX-height);
  min-width: var(--galaxy-s9-width);
  min-height: var(--iphone-6-7-8-height);
  padding: 0 7vw;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: calc(0.5rem + 1vh);
}

header h1.titulo {
  font-size: calc(1rem + 3vw);
  font-weight: bold;
}

header .icono-añadir-ciudad {
  font-size: calc(1rem + 6vw);
  font-weight: 100;
  color: #eda320;
  text-align: right;
  padding-top: calc(1rem + 1vh);
}

main article.info-ciudad {
  display: flex;
  justify-content: space-between;

  padding: 2vh 0;
  border-bottom: 1px solid var(--border-color);
}

main article section.primer-bloque {
  align-self: center;
}

main article h3.diferencia-horaria {
  font-size: calc(0.7rem + 1.3vw);
  color: var(--border-color);
}

main article h1.hora {
  font-size: calc(1rem + 5vw);
  align-self: center;
}

main article h2.ciudad {
  font-size: calc(1rem + 2vw);
}
